<h2>
    Tutorial for using the REST API
</h2>
<p>
The following views show various applications of the REST api. Just try them, discover the code and adapt to your needs. 

</p>

<h3>Basic demos with jQuery</h3><p>
The basic demos help you understand the principle. Note that I included all the code in each page - but you shouldn't do it this way. <br>
    note also that all examples feel like the code is rather long, because of DNN security features. Normally you would centralize this code to make it easier to work with. 
</p>

<p>Note: in these examples we're using the comfortable syntax, usually using a js object like <b>...webApi.get(...)</b>. <br>
You could also do it the very hard way, manually building a AJAX request using jquery $.ajax(...). The hard work is actually the DNN-security layer. So we've included the "hard" way in the first two samples, but then skipped it. If you really want to do that, no problem, but we don't recommend it. </p>

<h3>AngularJS Demos</h3>
<p>
    As you'll see these look much simpler, straight forward, less code etc. 
    This is the way we recommend you to go.
</p>