<h2>Get content-items list of Feedback-items with REST</h2>
<p>
    The following demo shows how to use simple JavaScript to retrieve all Feedback items in this app. It will also offer a delete-button to delete again. 
</p>

<h2>These is where the feedback items with delete will appear</h2>
<div id="message"></div>
<ol id="categories">
</ol>
<div>
    <a href="javascript:createFeedback(@Dnn.Module.ModuleID);">Click here to create the new item.</a>
</div>

<script>

function getAllFeedback(moduleId) {
    $2sxc(moduleId).webApi.get('app/auto/content/Feedback')
        .then(function(data) {
            // use the data to show a message
            $('#message').html("Success, the $.ajax(...) worked! I found " + data.length + " feedback items, the first one is '" + data[0].Title + "'");
        
            // use the data to show a list of items
            var items = [];
            $.each(data, function(idx, category) {
                items.push( "<li>" + category.Title + " - <a href='javascript:deleteFeedback(" + moduleId + ", " + category.Id + ")'>delete</a></li>" );
            });
            $('#categories').empty();
            $(items.join("")).appendTo($('#categories'));

        });
};

function deleteFeedback(moduleId, feedbackId) {
    if(!confirm('are you sure?'))
        return;

    $2sxc(moduleId).webApi.delete('app/auto/content/Feedback/' + feedbackId)
        .then(function(data) {
            // use the data to show a message
            getAllFeedback(moduleId);
        });
}



function showSuccess (data) {
    // use the data to show a message
    $('#message').html("I just created a new item in the content-database. I'm not showing it here to keep the code very simple - this could be a thank-you message after a contact form.");

}


function createFeedback(moduleId) {
    // new object to create - with date/time stamp
    var newItem = {
        Subject: "New feedback from " + (new Date()).toISOString(),
        Message: "I love REST"
    }

    $2sxc(moduleId).webApi.post('app/auto/content/Feedback', {}, newItem)
        .then(function(data){
            showSuccess(data);
            getAllFeedback(moduleId);
        });
};

// This call will execute the main function when the document is ready
// Don't try to execute it before, because the security features won't work yet
$(function() { 
    getAllFeedback(@Dnn.Module.ModuleID) 
});
</script>

<!-- this includes the $2sxc helpers necessary to work --> 
<script src="/desktopmodules/tosic_sexycontent/js/2sxc.api.min.js"></script>

<!-- this script just has some tutorial-helpers, not relevant to understand the tutorial code -->
<script src="@App.Path/assets/tutorial-helpers.js"></script>